certifi
chardet
cycler
decorator
deprecation
eyeD3
filetype
hmmlearn
idna
imageio
imageio-ffmpeg
joblib
kiwisolver
matplotlib
mido
moviepy
numpy
packaging
Pillow
plotly
proglog
pyAudioAnalysis
pydub
pyparsing
pysndfx
python-dateutil
requests
retrying
scikit-learn
scipy>=1.4.1
simplejson
six
threadpoolctl
tqdm
urllib3
